<div class="row mt-5">
    <div class="col-lg-6">
      <table class="table table-striped table-bordered table-responsive-lg custom-table text-center">
        <thead class="bg-black text-white">
          <tr>
          
            <th>First Name</th>
            <th>Last Name</th> 
            <th>Email</th>
            <th>Update</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of dataStore" class="table-row">
           
            <td>{{ item.firstName }}</td>
            <td>{{ item.lastName }}</td>
            <td>{{ item.email }}</td>
            <td><button class="btn btn-success"(click)="showUpdateForm()">Update</button></td>
            <td><button class="btn btn-danger" (click)="showDeleteForm()">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-lg-5 ml-5 moveForm " *ngIf="UpdateCustomer">
        <h1>Update Customer</h1>
          <div class="form-group">
            <select class="form-control" (change)="selectedData($event)">
            <option *ngFor="let item of dataStore" value={{item.customerId}}>{{ item.email }}</option>
            </select>
            <label for="selectCustomer">Select Customer:</label>
          </div>
<form [formGroup]="customerRegisterForm"  (ngSubmit)="submitData(customerRegisterForm.value)">
    <div class="form-outline mb-4">
        <span *ngIf="customerValidator && customerValidator.invalid && customerValidator.touched"
        style="color: red;"
        >required User ID</span>
        <input type="number" class="form-control form-control-lg" 
        formControlName="customerId" [(ngModel)]="fetchSingleData.customerId" readonly />
 
        <label class="form-label" >Customer ID</label>
      </div>
  
    <div class="form-outline mb-4">
      <span *ngIf="firstNameValidator && firstNameValidator.invalid && firstNameValidator.touched"
      style="color: red;"
      >required FirstName</span>
      <input type="text" id="form3Example97" class="form-control form-control-lg"
      formControlName="firstName" [(ngModel)]="fetchSingleData.firstName"/>
      <label class="form-label" for="form3Example97">First Name</label>
    </div>
    <div class="form-outline mb-4">
      <span *ngIf="lastNameValidator && lastNameValidator.invalid && lastNameValidator.touched"
      style="color: red;"
      >required LastName</span>
      <input type="text" id="form3Example97" class="form-control form-control-lg" 
      formControlName="lastName"  [(ngModel)]="fetchSingleData.lastName" />
      <label class="form-label" for="form3Example97">Last Name</label>
    </div>

    <div class="form-outline mb-4">
      <span *ngIf="emailValidator && emailValidator.invalid && emailValidator.touched"
      style="color: red;"
      >required Email</span>
      <input type="email" class="form-control form-control-lg" 
      formControlName="email"  [(ngModel)]="fetchSingleData.email" />
      <label class="form-label" for="form3Example97">Email ID</label>
    </div>
    <div class="form-outline mb-4">
        <span *ngIf=" userValidatorId && userValidatorId.invalid && userValidatorId.touched"
        style="color: red;"
        >required User ID</span>
        <input type="number" class="form-control form-control-lg" 
        formControlName="userId" [(ngModel)]="fetchSingleData.userId" readonly/>
    
        <label class="form-label" >User ID</label>
      </div>
    <div class="d-flex  pt-3">
     
      <button type="submit" class="btn btn-warning btn-lg ms-2" [disabled]="customerRegisterForm.invalid">Submit form</button>
    </div>
  </form>
</div>
<div class="col-lg-5 ml-5 moveForm "  *ngIf="DeleteCustomer">
    <h1>Delete Customer</h1>
    <div class="form-group">
      <select class="form-control" (change)="selectedData($event)">
      <option *ngFor="let item of dataStore" value={{item.customerId}}>{{ item.email }}</option>
      </select>
      <label for="selectCustomer">Select Customer:</label>
    </div>
<form [formGroup]="customerDeleteForm"  (ngSubmit)="submitDeleteData(customerDeleteForm.value)">
<div class="form-outline mb-4">
  <span *ngIf="DcustomerValidator && DcustomerValidator.invalid && DcustomerValidator.touched"
  style="color: red;"
  >required User ID</span>
  <input type="number" class="form-control form-control-lg" 
  formControlName="customerId" [(ngModel)]="fetchSingleData.customerId"  readonly/>

  <label class="form-label" >Customer ID</label>
</div>

<div class="form-outline mb-4">
<span *ngIf="DfirstNameValidator && DfirstNameValidator.invalid && DfirstNameValidator.touched"
style="color: red;"
>required FirstName</span>
<input type="text" id="form3Example97" class="form-control form-control-lg"
formControlName="firstName" [(ngModel)]="fetchSingleData.firstName" readonly/>
<label class="form-label" for="form3Example97">First Name</label>
</div>
<div class="form-outline mb-4">
<span *ngIf="DlastNameValidator && DlastNameValidator.invalid && DlastNameValidator.touched"
style="color: red;"
>required LastName</span>
<input type="text" id="form3Example97" class="form-control form-control-lg" 
formControlName="lastName"  [(ngModel)]="fetchSingleData.lastName" readonly/>
<label class="form-label" for="form3Example97">Last Name</label>
</div>

<div class="form-outline mb-4">
<span *ngIf="DemailValidator && DemailValidator.invalid && DemailValidator.touched"
style="color: red;"
>required Email</span>
<input type="email" class="form-control form-control-lg" 
formControlName="email"  [(ngModel)]="fetchSingleData.email" readonly/>
<label class="form-label" for="form3Example97">Email ID</label>
</div>
<div class="form-outline mb-4">
    <span *ngIf=" DuserValidatorId &&  DuserValidatorId.invalid &&  DuserValidatorId.touched"
    style="color: red;"
    >required User ID</span>
    <input type="number" class="form-control form-control-lg" 
    formControlName="userId" [(ngModel)]="fetchSingleData.userId" />

    <label class="form-label" >User ID</label>
  </div>
<div class="d-flex justify-content-end pt-3">

<button type="submit" class="btn btn-warning btn-lg ms-2" [disabled]="customerDeleteForm.invalid">Submit form</button>
</div>
</form>
</div>

</div>

