<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form [formGroup]="customerIdForm" (ngSubmit)="showQuery(customerIdForm.value)">
        <div class="form-group">
          <label for="customerId">Customer ID:</label>
          <input type="number" formControlName="customerId" class="form-control">
          <span *ngIf="qValidator && qValidator.invalid && qValidator.touched"
                style="color: red;"
          >required customerId</span>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="customerIdForm.invalid">Submit</button>
      </form>
    </div>
  </div>
</div>


<div class="container mt-4" *ngIf="tableShow">
  <h2>Queries</h2>
  <table class="table table-bordered table-hover">
      <thead>
          <tr>
              <th>Query ID</th>
              <th>Query Text</th>
              <th>Reply</th>
              <th>Reply Date</th>
              <th>Customer ID</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let query of queries" class="table-row">
              <td>{{ query.queryId }}</td>
              <td>{{ query.queryText }}</td>
              <td>{{ query.replyQuery }}</td>
              <td>{{ query.replyDate | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
              <td>{{ query.customerId }}</td>
          </tr>
      </tbody>
  </table>
</div>

  

  <div *ngIf="queryNotFound" class="mt-3"> <!-- Add margin-top for spacing -->
    <ngb-alert [type]="'danger'"> <!-- Use 'danger' for a red alert -->
      <h4 class="alert-heading">Sorry, Account Not Found/No Responce Query</h4>
      <p class="mb-0">Please verify the information </p>
      <button class="btn btn-danger" (click)="refreshfun()">Try Again</button>
    </ngb-alert>
  </div>