
 <nav 
       id="sidebarMenu" 
       class="collapse d-lg-block sidebar collapse bg-white" 
       > 
   
    <div class="position-sticky"> 
      <div class="list-group list-group-flush mx-3 mt-4"> 
        <button routerLink="/customer" class="list-group-item list-group-item-action py-2 ripple" aria-current="true" > 
          <div  align="center">Home</div> 
        </button> <br> 
        <button  class="list-group-item list-group-item-action py-2 ripple mt-lg-2" 
          (click)="showAccountCreateFun()"> 
         <div align="center">Register</div> 
        </button><br> 
        <button class="list-group-item list-group-item-action py-2 ripple mt-lg-2" 
          (click)="showAccountRequestFun()"> 
          <div align="center">Account</div> 
        </button><br> 
        <button class="list-group-item list-group-item-action py-2 ripple mt-lg-2" 
        (click)="queyFunShow()"> 
          <div align="center">Chat</div> 
        </button><br> 
        <button class="list-group-item list-group-item-action py-2 ripple mt-lg-2" 
          (click)="showDocumentFun()"> 
          <div align="center">Documents</div> 
        </button><br> 
        <button  (click)="showTransactionFun()" class="list-group-item list-group-item-action py-2 ripple mt-lg-2"> 
          <div align="center">Transaction</div> 
        </button><br> 
        <button  class="list-group-item list-group-item-action py-2 ripple mt-lg-2" (click)="logout()"> 
          <div align="center">Logout</div> 
        </button> <br> 
         
      </div> 
    </div> 
  </nav>  



<!-- <header>
  
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-dark">
      <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
          <button routerLink="/customer" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
            <span>Customer dashboard</span>
          </button>
          <button  class="list-group-item list-group-item-action py-2 ripple mt-lg-2"
            (click)="showAccountCreateFun()">
            <i class="fas fa-lock fa-fw me-3"></i><span>Register Customer</span>
          </button>
          <button class="list-group-item list-group-item-action py-2 ripple mt-lg-2"
            (click)="showAccountRequestFun()">
            <i class="fas fa-lock fa-fw me-3"></i><span>Request Account</span>
          </button>
          <button class="list-group-item list-group-item-action py-2 ripple mt-lg-2"
            (click)="showTransactionFun()">
            <i class="fas fa-lock fa-fw me-3"></i><span>Transaction</span>
          </button>
          <button class="list-group-item list-group-item-action py-2 ripple mt-lg-2"
            (click)="showDocumentFun()">
            <i class="fas fa-chart-line fa-fw me-3"></i><span>Upload Documents</span>
          </button>
          <button  (click)="queyFunShow()" class="list-group-item list-group-item-action py-2 ripple mt-lg-2">
            <span>View All Query Asked</span>
          </button>
          <button  class="list-group-item list-group-item-action py-2 ripple mt-lg-2" (click)="logout()">
            <i class="fas fa-chart-bar fa-fw me-3"></i><span>LogOut Customer</span>
          </button>
        </div>
      </div>
    </nav> -->
    
    <!-- <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-primary-subtle fixed-top">

      <div class="container-fluid">

        <button
          class="navbar-toggler"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#sidebarMenu"
          aria-controls="sidebarMenu"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>
        <a class="navbar-brand" href="/customer">
          <img
          src="../../../assets/logo.png"
            height="50"
            width="80"
            alt="MDB Logo"
            loading="lazy"
          />
        </a>
        <ul class="navbar-nav ms-auto d-flex flex-row">
         <li><h1 *ngIf="needRegistartion">Create customer </h1></li>
          <li><h1>Welcome {{userName}}  </h1></li>

          <li class="nav-item dropdown g-1">
           
              <img
                src="../../../assets/avtar.png"
                class="rounded-circle"
                height="50"
                alt="Avatar"
                loading="lazy"
              />
       
          </li>
        </ul>
      </div>

    </nav> -->

  <!-- </header> -->
  <nav 
  id="main-navbar" 
  class="navbar navbar-expand-lg navbar-light bg-white fixed-top" 
  > 

<div class="container-fluid"> 

 <ul class="navbar-nav ms-auto d-flex flex-row"> 
   <ul class="nav justify-content-center"> 
    <li class="nav-item">
      <a (click)="showAccountFd()"  aria-current="page" class="nav-link active"> 
        
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calculator-fill" viewBox="0 0 16 16"> 
            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2zm2 .5v2a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 0-.5-.5h-7a.5.5 0 0 0-.5.5m0 4v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5M4.5 9a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5M4 12.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5M7.5 6a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zM7 9.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5m.5 2.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zM10 6.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5m.5 2.5a.5.5 0 0 0-.5.5v4a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-4a.5.5 0 0 0-.5-.5z"/> 
          </svg> 
          Calculator
        
      </a>
    </li>
     <li class="nav-item"> 
       <a class="nav-link active" aria-current="page" (click)="viewPassbook()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-book-half" viewBox="0 0 16 16"> 
          <path d="M8.5 2.687c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783"/> 
        </svg>Passbook</a> 
     </li> 
     <li class="nav-item"> 
       <a class="nav-link active" aria-current="page"(click)="viewAccountStatement()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-journal" viewBox="0 0 16 16"> 
          <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2"/> 
          <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1z"/> 
        </svg>Statement</a> 
     </li> 
     <li class="nav-item"> 
       <a class="nav-link active" aria-current="page" (click)="viewQueryForm()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-left-text" viewBox="0 0 16 16"> 
          <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/> 
          <path d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5M3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6m0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5"/> 
        </svg>Chat</a> 
     </li> 

   </ul> 

  
      

   
 </ul> 
</div> 

</nav>


  <!-- <main style="margin-top: 58px;">
  
   
    <div class="row row-cols-1 row-cols-md-4 g-4 mt-2">
      <div class="col" (click)="viewPassbook()">
        <div class="card h-40">
          <img src="../../../assets/passbook.jpg" class="card-img-top" alt="Hollywood Sign on The Hill"/>
          <div class="card-body">
            <h5 class="card-title">Passbook </h5>
           
          </div>
        </div>
      </div>
      <div class="col" (click)="viewAccountStatement()">
        <div class="card h-40">
          <img src="../../../assets/statment.jpg" class="card-img-top" alt="Hollywood Sign on The Hill"/>
          <div class="card-body">
            <h5 class="card-title">Account Statement</h5>
           
          </div>
        </div>
      </div>
      <div class="col" (click)="viewQueryForm()">
        <div class="card h-40">
          <img src="../../../assets/query.jpg" class="card-img-top" alt="Hollywood Sign on The Hill"/>
          <div class="card-body">
            <h5 class="card-title">Ask Query</h5>
           
          </div>
        </div>
      </div>
      <div class="col" (click)="fdcalculator()">
        <div class="card h-40">
          <img src="../../../assets/calculator.jpg" class="card-img-top" alt="Hollywood Sign on The Hill"/>
          <div class="card-body">
            <h5 class="card-title">Interest Calculator</h5>
           
          </div>
        </div>
      </div>

    </div> -->


    <main style="margin-top: 58px"> 
      <div class="container pt-4"> 
     
         
        <section class="mb-4"> 
          <div class="card"> 
            <div class="card-header text-center py-3"> 
              <h5 class="mb-0 text-center"> 
     
     
              </h5> 
            </div> 
            <button (click)="viewPassbook()" style="left: auto;">Welcome {{userName}}</button> 
            <div class="card-body"> 
              <div align="center" class="table-responsive"> 
     
            </div> 
            <div align="center"> 
            
              <div class="card-body"> 
     
                 
              <h4>  </h4> 
           <div> 
            <div *ngIf="showPassbook"> 
              <app-customer-passbook></app-customer-passbook> 
              </div> 
              
               
              <div *ngIf="showAccountForm"> 
                <app-request-account ></app-request-account> 
              </div> 
           
              <div *ngIf="showAccountStatment"> 
                <app-account-statement></app-account-statement> 
              </div> 
              
           
              <div *ngIf="showDocument"> 
                <app-customer-document></app-customer-document> 
              </div> 
               
              <div *ngIf="showAccountCreate"> 
                <app-customer-register ></app-customer-register> 
              </div> 
           
              <div  *ngIf="showQuery"> 
                <app-customer-query></app-customer-query> 
              </div> 
               
           
              <div *ngIf="showTransaction"> 
                <app-customert-transaction ></app-customert-transaction> 
              </div> 
               
              <h4 *ngIf="showWarrning"> </h4> 
           
              <div *ngIf="showQueryTab"> 
               <app-view-query></app-view-query> 
              </div> 
           <div *ngIf="showFd">
            <app-fd-calculator></app-fd-calculator>
           </div>
           </div> 
     
              </div> 
     
            </div> 
          </div> 
     
      </div> 
     
       
     
       
      <main> 
          <div class="position-absolute bottom-0 end-0"><h1></h1></div> 
      </main>







<!-- 
    <div *ngIf="showPassbook">
    <app-customer-passbook></app-customer-passbook>
    </div>
   
    
    <div *ngIf="showAccountForm">
      <app-request-account ></app-request-account>
    </div>

    <div *ngIf="showAccountStatment">
      <app-account-statement></app-account-statement>
    </div>
   

    <div *ngIf="showDocument">
      <app-customer-document></app-customer-document>
    </div>
    
    <div *ngIf="showAccountCreate">
      <app-customer-register ></app-customer-register>
    </div>

    <div  *ngIf="showQuery">
      <app-customer-query></app-customer-query>
    </div>
    

    <div *ngIf="showTransaction">
      <app-customert-transaction ></app-customert-transaction>
    </div>
    
    <h4 *ngIf="showWarrning"> Create Customer Details to Request Account</h4>

    <div *ngIf="showQueryTab">
     <app-view-query></app-view-query>
    </div>

    <div *ngIf="showCalculator">
      <app-fd-calculator></app-fd-calculator>
    </div> -->

  


