<!-- account-list.component.html -->
<!-- Your existing HTML -->
<div *ngIf="showAccountNotFound" class="mt-3"> <!-- Add margin-top for spacing -->
  <ngb-alert [type]="'danger'"> <!-- Use 'danger' for a red alert -->
    <h4 class="alert-heading">Sorry,  No Account Request Found</h4>
    <p class="mb-0">Please verify the information and try again.</p>
    <button class="btn btn-danger" (click)="refreshfun()">Try Again</button>
  </ngb-alert>
</div> 

<div class="container mt-4" *ngIf="accountRequestTrue">
    <h2>Account List</h2>
    <div class="row">
      <!-- First column with the table -->
      <div class="col-md-8">
        <table class="table table-bordered table-hover">
          <thead class="thead-light">
            <tr>
              <th>Account Number</th>
              <th>Account Type</th>
              <th>Request Date</th>
              <th>Account Balance</th>
              <th>Customer Id</th>
              <th>Action</th>
             
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let account of accounts">
              <td>{{ account.accountNumber }}</td>
              <td>{{ account.accountType }}</td>
              <td>{{ account.openningDate | date: 'yyyy-MM-dd' }}</td>
              <td>{{ account.accountBalance }}</td>
              <td>{{ account.customerId }}</td>
              <td>
                <button class="btn btn-primary" (click)="acceptAccount(account.accountNumber)">Accept</button>
              </td>
             
            </tr>
          </tbody>
        </table>
      </div>
  



      <!-- Second column with the search form -->
      <div class="col-md-4">
        <h5>search customer id to view  customer uploaded document</h5>
        <form [formGroup]="searchForm" class="mb-4 mt-4" (ngSubmit)="onSubmit(searchForm.value)">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search by Customer ID" formControlName="documentId" />
            <button class="btn btn-outline-secondary" type="submit">Search</button>
          </div>
        </form>
        <!-- Additional content related to search, if needed... -->
      </div>
    </div>
  </div>
 
  <div *ngIf="documents">
    <h3>Image for Customer ID {{ searchCustomerId }}</h3>
    <img [src]="imageSource" alt="Document Image"  />
  </div>