<section class="background-radial-gradient overflow-hidden"> 
  <style> 
    .background-radial-gradient { 
      
      background-image: radial-gradient(657px circle at 0% 0%, 
          hsl(218, 41%, 35%) 5%, 
          hsl(218, 41%, 10%) 30%, 
          hsl(200, 41%, 20%) 95%, 
          hsl(29, 41%, 19%) 80%, 
          transparent 100%), 
        radial-gradient(1250px circle at 100% 100%, 
          hsl(218, 41%, 45%) 15%, 
          hsl(218, 41%, 30%) 35%, 
          hsl(218, 41%, 20%) 75%, 
          hsl(218, 41%, 19%) 90%, 
          transparent 100%); 
    } 
 
    #radius-shape-1 { 
      height: 220px; 
      width: 220px; 
      top: -60px; 
      left: -130px; 
      background: radial-gradient(#44006b, #ad1fff); 
      overflow: hidden; 
    } 
 
    #radius-shape-2 { 
      border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%; 
      bottom: -60px; 
      right: -110px; 
      width: 300px; 
      height: 300px; 
      background: radial-gradient(#44006b, #ad1fff); 
      overflow: hidden; 
    } 
 
    .bg-glass { 
      background-color: hsla(0, 0%, 100%, 0.9) !important; 
      backdrop-filter: saturate(200%) blur(25px); 
    } 
  </style> 
 
  <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5"> 
    <div class="row gx-lg-5 align-items-center mb-5"> 
      <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10"> 
        <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(177, 53%, 40%)"> 
          A V Bank <br /> 
          <span style="color: hsl(218, 81%, 75%)">Welcome</span> 
        </h1> 
        <p class="mb-4 opacity-70" style="color: hsl(219, 42%, 37%)"> 
 
        </p>     
      </div> 
      <div class="col-lg-6 mb-5 mb-lg-0 position-relative"> 
        <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div> 
        <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div> 
 
        <div class="card bg-glass"> 
          <div class="card-body px-4 py-5 px-md-5"> 
            <form> 
              <form [formGroup]="loginUserForm"  (ngSubmit)="submitData(loginUserForm.value)"> 
              <div class="row"> 
                   
                <div class="form-outline mb-4"> 
                  <h1>Login</h1><br><br> 
                  <div class="form-outline"> 
                 
                  </div> 
                </div> 
              </div> 
 
          
              <div class="form-outline mb-4"> 
                <label class="form-label" for="form3Example3">Username </label> 
                <span *ngIf="userValidator && userValidator.invalid && userValidator.touched" 
                style="color: red;" 
                > Required Username</span> 
                <input type="text" class="form-control form-control-lg" 
                  placeholder="Enter Your User Name"  
                  formControlName="UserName"/> 
                 
              </div> 
     
        
              <div class="form-outline mb-3"> 
                <label class="form-label" for="form3Example4">Password</label> 
                <span *ngIf="passwordValidator && passwordValidator.invalid && passwordValidator.touched" 
                style="color: red;" 
                >required Password 
              </span> 
                <input type="password"  class="form-control form-control-lg" 
                  placeholder="Enter password" 
                  formControlName="Password" /> 
                
                 
              </div> 
 
              <button type="submit" class="btn btn-primary btn-block mb-4"> 
                Sign up 
              </button> 
              <p class="mb-5 pb-lg-2" style="color: #404ab8;">Don't have an account? <a routerLink="/registerForm"  
                  style="color: #2832a3;">Register here</a></p>    
              </form> 
            </form>  
            
          </div> 
        </div> 
      </div> 
    </div> 
  </div> 
</section>



<!-- <div class="overlay" *ngIf="showErrorMessage">
  <div class="popup-container">
    <ngb-alert class="error-alert">UserName/PassWord Invalid</ngb-alert>
    <button (click)="RefreshLogin()" class="btn btn-primary">Try Again</button>
  </div>
</div>

<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="../../assets/eBankk5.png"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form [formGroup]="loginUserForm"  (ngSubmit)="submitData(loginUserForm.value)">
          

         
          <div class="form-outline mb-4">
            <span *ngIf="userValidator && userValidator.invalid && userValidator.touched"
            style="color: red;"
            >required UserName</span>
            <input type="text" class="form-control form-control-lg"
              placeholder="Enter Your User Name" 
              formControlName="UserName"/>
            <label class="form-label" for="form3Example3">User Name</label>
          </div>

         
          <div class="form-outline mb-3">
            <span *ngIf="passwordValidator && passwordValidator.invalid && passwordValidator.touched"
            style="color: red;"
            >required Password
          </span>
            <input type="password"  class="form-control form-control-lg"
              placeholder="Enter password"
              formControlName="Password" />
            <label class="form-label" for="form3Example4">Password</label>
           
          </div>

          <div class="d-flex justify-content-between align-items-center">
           
            <a href="#!" class="text-body">Forgot password?</a>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
            <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="#!"
                class="link-danger" routerLink="/registerForm">Register</a></p>
          </div>

        </form>
      </div>
    </div> 
  </div>
  
</section> -->