<section class="h-100 bg-light"> 
  <div class="container py-5 h-100"> 
    <div class="row d-flex justify-content-center align-items-center h-100"> 
      <div class="col"> 
        <div class="card card-registration my-4"> 
          <div > 
            <svg xmlns="http://www.w3.org/2000/svg" style="display: none;"> 
              <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16"> 
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/> 
              </symbol> 
              <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16"> 
                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/> 
              </symbol> 
              <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16"> 
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/> 
              </symbol> 
            </svg> 
           
           
            <div class="col-xl-6"> 
              <div class="card-body p-md-5 text-black"> 
                <h3 class="mb-5 text-uppercase">registration</h3> 
                <section class="text-center"> 
                    <form [formGroup]="customerRegisterForm"  (ngSubmit)="submitData(customerRegisterForm.value)"> 
                         
                        <div class="row"> 
                            <div class="col-md-6 mb-4"> 
                               <div class="form-outline"> 
                                  <div class="form-outline mb-4"> 
                                    <label class="form-label" for="form3Example97">First Name</label> 
                                    <span *ngIf="firstNameValidator && firstNameValidator.invalid && firstNameValidator.touched" 
                                    style="color: red;" 
                                    ><br>required FirstName</span> 
                                    <input type="text" id="form3Example97" class="form-control form-control-lg" 
                                    formControlName="firstName" /> 
                                     
                                  </div> 
                                </div> 
                              </div> 
                              <div class="col-md-6 mb-4"> 
                                <div class="form-outline"> 
                                  <div class="form-outline mb-4"> 
                                    <label class="form-label" for="form3Example97">Last Name</label> 
                                    <span *ngIf="lastNameValidator && lastNameValidator.invalid && lastNameValidator.touched" 
                                    style="color: red;" 
                                    ><br>required LastName</span> 
                                    <input type="text" id="form3Example97" class="form-control form-control-lg"  
                                    formControlName="lastName"/> 
                                     
                                  </div> 
                                </div> 
                              </div> 
                            </div> 
                            <div class="form-outline mb-4"> 
                                <div class="form-outline"> 
                                  <label for="gender" class="form-label">Gender:</label> 
                                  <select class="form-select"> 
                                    <option value="1">Select</option> 
                                    <option value="2">Male</option>
                                    <option value="3">Female</option> 
                                    <option value="4">Other</option> 
                                  </select> 
                              
                              </div> 
                            </div> 
                     
                            <div class="form-outline mb-4"> 
                              <label class="form-label" for="form3Example97">Email ID</label> 
                              <span *ngIf="emailValidator && emailValidator.invalid && emailValidator.touched" 
                              style="color: red;" 
                              ><br>required Email</span> 
                              <input type="email" class="form-control form-control-lg"  
                              formControlName="email"/> 
                               
                              
                            </div> 
                            <div class="form-outline mb-4"> 
                              <label class="form-label" for="form3Example9">Date Of Birth</label> 
                              <span *ngIf="dobValidator && dobValidator.invalid && dobValidator.touched" 
                              style="color: red;" 
                              >
                              <br>required Date-of-Birth</span> 
                              <input type="date" class="form-control form-control-lg"  
                              formControlName="DOB"/> 
                              
                            </div> 
             
                            <div class="form-outline mb-4"> 
                              <label class="form-label" for="form3Example97">USER ID</label> 
                              <input type="number" class="form-control form-control-lg" placeholder="{{userId}}" 
                              formControlName="userId" [(ngModel)]="userId" readonly/> 
                            </div>  
                            <button type="submit" class="btn btn-outline-success btn-block mb-4"> 
                              Register 
                            </button> 
                            <div *ngIf="responceRegisteration" class="alert alert-primary d-flex align-items-center" role="alert"> 
                              <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg> 
                              <div> 
                                Already  Registered ! <a href="">Forget your Account?</a> 
                              </div> 
                            </div> 
                  </form>  
                </section> 
              </div> 
            </div> 
          </div> 
        </div> 
      </div> 
    </div> 
  </div>










<!-- <section class="h-100 bg-dark">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card card-registration my-4">
            <div class="row g-0">
              <div class="col-xl-6 d-none d-xl-block">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp"
                  alt="Sample photo" class="img-fluid"
                  style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
               </div>
              <ngb-alert *ngIf="responceRegisteration"
              >User Alredy exist
              <button type="button" class="btn btn-success" (click)="reset()">Clear</button> 
            </ngb-alert>
              <div class="col-xl-6">
                <div class="card-body p-md-5 text-black">
                  <h3 class="mb-5 text-uppercase">Customer registration form</h3>
                  <form [formGroup]="customerRegisterForm"  (ngSubmit)="submitData(customerRegisterForm.value)">
  
                  <div class="form-outline mb-4">
                    <span *ngIf="firstNameValidator && firstNameValidator.invalid && firstNameValidator.touched"
                    style="color: red;"
                    >required FirstName</span>
                    <input type="text" id="form3Example97" class="form-control form-control-lg"
                    formControlName="firstName" />
                    <label class="form-label" for="form3Example97">First Name</label>
                  </div>
                  <div class="form-outline mb-4">
                    <span *ngIf="lastNameValidator && lastNameValidator.invalid && lastNameValidator.touched"
                    style="color: red;"
                    >required LastName</span>
                    <input type="text" id="form3Example97" class="form-control form-control-lg" 
                    formControlName="lastName"/>
                    <label class="form-label" for="form3Example97">Last Name</label>
                  </div>

                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <label for="gender" class="form-label">Gender:</label>
                      <select class="form-select">
                        <option value="1">Select Gender</option>
                        <option value="2">Male</option>
                        <option value="3">Female</option>
                        <option value="4">Other</option>
                      </select>
                    </div> 
                  </div>
  
                  <div class="form-outline mb-4">
                    <span *ngIf="dobValidator && dobValidator.invalid && dobValidator.touched"
                    style="color: red;"
                    >required Date-of-Birth</span>
                    <input type="date" class="form-control form-control-lg" 
                    formControlName="DOB"/>
                    <label class="form-label" for="form3Example9">DOB</label>
                  </div>
  

  
                  <div class="form-outline mb-4">
                    <span *ngIf="emailValidator && emailValidator.invalid && emailValidator.touched"
                    style="color: red;"
                    >required Email</span>
                    <input type="email" class="form-control form-control-lg" 
                    formControlName="email"/>
                    <label class="form-label" for="form3Example97">Email ID</label>
                  </div>
                  
                  <div class="form-outline mb-4">
                    
                    <input type="number" class="form-control form-control-lg" placeholder="{{userId}}"
                    formControlName="userId" [(ngModel)]="userId" hidden/>
                   
                  </div> 
  
  
                  <div class="d-flex justify-content-end pt-3">
                   
                    <button type="submit" class="btn btn-warning btn-lg ms-2" [disabled]="customerRegisterForm.invalid">Submit form</button>
                  </div>
                </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->




