.custom-table {
    border: 2px solid #dddddd;
    border-collapse: collapse;
    width: 100%;
  }
  
  .custom-table th, .custom-table td {
    border: 2px solid #dddddd;
    padding: 8px;
  }.container {
    margin-top: 4rem;
  }
  
  .row {
    display: flex;
    justify-content: center;
  }
  
  .col-md-6 {
    border: 1px solid #ddd; /* Border color */
    padding: 1.5rem;
    border-radius: 8px; /* Border radius for a rounded appearance */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional box shadow for a subtle lift */
  }
  
  /* Hover effect for the form */
  .col-md-6:hover {
    background-color: #f8f9fa; /* Light gray background color on hover */
  }
  
  /* Style for form labels */
  label {
    font-weight: bold;
  }
  
  /* Style for form inputs */
  .form-control {
    margin-bottom: 1rem;
  }
  
  /* Style for submit button */
  .btn-primary {
    background-color: #007bff; /* Button background color */
    color: #fff; /* Button text color */
  }
  
  /* Hover effect for submit button */
  .btn-primary:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }
  