

<div class="card w-75"> 
  <div class="card-body">
  <h1 class="my-4 display-4 fw-bold ls-tight" style="font-size: 3rem;">
    Customers
    <span class="text-primary" style="font-size: 3rem;"
      ></span
    >
  </h1>
  <body>
 
    <!-- Right side - Table -->
    <div >
     
 
     
 
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th style="width: 10px;">Customer ID</th>
            <th style="width: 150px;">First Name</th>
            <th style="width: 150px;">Last Name</th>
            <th style="width: 200px;">Email</th>
            <th style="width: 100px;">Status</th>
            <th style="width: 100px;">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let item of dataStore"
            class="table-row"
            [ngClass]="{'table-danger': item.isDeleted}"
          >
            <td>{{ item.customerId }}</td>
            <td>{{ item.firstName }}</td>
            <td>{{ item.lastName }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.isActive ? 'Active' : 'Inactive' }}</td>
            <td>
              <button
              class="btn btn-outline-warning"
                (click)="deleteCustomer(item)"
                [disabled]="item.isDeleted"
              >
                Delete
              </button>
              <br>
 
              
            </td>
          </tr>
        </tbody>
      </table>
    </div>
 
    <div class="col-lg-5 ml-5 moveForm" *ngIf="UpdateCustomer">
      <h1>Update Customer</h1>
      <div class="form-group">
        <select class="form-control" (change)="selectedData($event)">
          <option *ngFor="let item of dataStore" value="{{item.customerId}}"
            >{{ item.email }}</option
          >
        </select>
        <label for="selectCustomer">Select Customer:</label>
      </div>
      <form
        [formGroup]="customerRegisterForm"
        (ngSubmit)="submitData(customerRegisterForm.value)"
      >
        <div class="form-outline mb-4">
          <span
            *ngIf="firstNameValidator && firstNameValidator.invalid && firstNameValidator.touched"
            style="color: red;"
            >required User ID</span
          >
          <input
            type="number"
            class="form-control form-control-lg"
            formControlName="customerId"
            [(ngModel)]="fetchSingleData.customerId"
            readonly
          />
          <label class="form-label">Customer ID</label>
        </div>
 
        <div class="form-outline mb-4">
          <span
            *ngIf="firstNameValidator && firstNameValidator.invalid && firstNameValidator.touched"
            style="color: red;"
            >required FirstName</span
          >
          <input
            type="text"
            id="form3Example97"
            class="form-control form-control-lg"
            formControlName="firstName"
            [(ngModel)]="fetchSingleData.firstName"
          />
          <label class="form-label" for="form3Example97">First Name</label>
        </div>
        <div class="form-outline mb-4">
          <span
            *ngIf="lastNameValidator && lastNameValidator.invalid && lastNameValidator.touched"
            style="color: red;"
            >required LastName</span
          >
          <input
            type="text"
            id="form3Example97"
            class="form-control form-control-lg"
            formControlName="lastName"
            [(ngModel)]="fetchSingleData.lastName"
          />
          <label class="form-label" for="form3Example97">Last Name</label>
        </div>
 
        <div class="form-outline mb-4">
          <span
            *ngIf="emailValidator && emailValidator.invalid && emailValidator.touched"
            style="color: red;"
            >required Email</span
          >
          <input
            type="email"
            class="form-control form-control-lg"
            formControlName="email"
            [(ngModel)]="fetchSingleData.email"
          />
          <label class="form-label" for="form3Example97">Email ID</label>
        </div>
        <div class="form-outline mb-4">
          <span
            *ngIf=" userValidatorId && userValidatorId.invalid && userValidatorId.touched"
            style="color: red;"
            >required User ID</span
          >
          <input
            type="number"
            class="form-control form-control-lg"
            formControlName="userId"
            [(ngModel)]="fetchSingleData.userId"
            readonly
          />
 
          <label class="form-label">User ID</label>
        </div>
        <div class="d-flex pt-3">
          <button
            type="submit"
            class="btn btn-warning btn-lg ms-2"
            [disabled]="customerRegisterForm.invalid"
          >
            Submit form
          </button>
         
        </div>
      </form>
    </div>
 
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </body>

<!-- <div class="d-flex justify-content-center">
  <nav aria-label="...">
    <ul class="pagination">
      <li class="page-item disabled">
        <a class="page-link">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item active" aria-current="page">
        <a class="page-link" href="#">2 <span class="visually-hidden">(current)</span></a>
      </li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>
</div> -->

    <!-- <div class="col-md-5">
      <div class="p-1" style="background-color: #909094c9;">
        <div class="container mt-4">
          <h1 class="text-center text-white mb-2">Update Customer Details</h1>
          <div class="form-group">
            <select class="form-control" (change)="selectedData($event)">
            <option *ngFor="let item of dataStore" value={{item.customerId}}>{{ item.customerId }}</option>
            </select>
            <label for="selectCustomer">Select Customer:</label>
          </div>
<form [formGroup]="customerRegisterForm"  (ngSubmit)="submitData(customerRegisterForm.value)">
    <div class="form-outline mb-4">
        <span *ngIf="userValidator && userValidator.invalid && userValidator.touched"
        style="color: red;"
        >required User ID</span>
        <input type="number" class="form-control form-control-lg" 
        formControlName="customerId" [(ngModel)]="fetchSingleData.customerId" />
 
        <label class="form-label" >USER ID</label>
      </div>
  
    <div class="form-outline mb-4">
      <span *ngIf="firstNameValidator && firstNameValidator.invalid && firstNameValidator.touched"
      style="color: red;"
      >required FirstName</span>
      <input type="text" id="form3Example97" class="form-control form-control-lg"
      formControlName="firstName" [(ngModel)]="fetchSingleData.firstName"/>
      <label class="form-label" for="form3Example97">First Name</label>
    </div>
    <div class="form-outline mb-4">
      <span *ngIf="lastNameValidator && lastNameValidator.invalid && lastNameValidator.touched"
      style="color: red;"
      >required LastName</span>
      <input type="text" id="form3Example97" class="form-control form-control-lg" 
      formControlName="lastName"  [(ngModel)]="fetchSingleData.lastName" />
      <label class="form-label" for="form3Example97">Last Name</label>
    </div>

    <div class="form-outline mb-4">
      <span *ngIf="emailValidator && emailValidator.invalid && emailValidator.touched"
      style="color: red;"
      >required Email</span>
      <input type="email" class="form-control form-control-lg" 
      formControlName="email"  [(ngModel)]="fetchSingleData.email" />
      <label class="form-label" for="form3Example97">Email ID</label>
    </div>
    <div class="d-flex justify-content-end pt-3">
     
      <button type="submit" class="btn btn-warning btn-lg ms-2" [disabled]="customerRegisterForm.invalid">Submit form</button>
    </div>
  </form>
</div>
</div>
</div> -->


