<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="mb-4">Document Upload</h2>

    

      <form [formGroup]="customerDocumentForm" (ngSubmit)="submitData()">
        <!-- Document Type -->
        <div class="mb-3">
          <label for="documentType" class="form-label">Document Type:</label>
          <select class="form-select" formControlName="DocumentType">
            <option value="">Select Document Type</option>
            <option value="passport">Passport</option>
            <option value="idCard">ID Card</option>
          </select>
          <div *ngIf="TypeValidator && TypeValidator.invalid && TypeValidator.touched" class="text-danger">
            Document type is required.
          </div>
        </div>

        <!-- Document File -->
        <div class="mb-3">
          <label for="documentFile" class="form-label">Choose File:</label>
          <input type="file" (change)="onFileChange($event)">
          <div *ngIf="FileValidator && FileValidator.invalid && FileValidator.touched" class="text-danger">
            File upload is required.
          </div>
        </div>

        <!-- Customer ID -->
        <div class="mb-3">
          <label for="customerId" class="form-label">Customer ID:</label>
          <input type="number" formControlName="customerId" placeholder="{{cutomerId}}"
         class="form-control" [(ngModel)]="cutomerId" readonly />
          <div *ngIf="customerValidator && customerValidator.invalid && customerValidator.touched" class="text-danger">
            Customer ID is required.
          </div>
        </div>

        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary" [disabled]="customerDocumentForm.invalid">Upload Document</button>
      </form>
    </div>
  </div>
</div> 
