body { 
  background-color: #fbfbfb; 
} 
@media (min-width: 991.98px) { 
  main { 
    padding-left: 240px; 
  } 
} 
 
/* Sidebar */ 
.sidebar { 
  position: fixed; 
  top: 0; 
  bottom: 0; 
  left: 0; 
  padding: 58px 0 0; /* Height of navbar */ 
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%); 
  width: 240px; 
  z-index: 600; 
} 
 
@media (max-width: 991.98px) { 
  .sidebar { 
    width: 100%; 
  } 
} 
.sidebar .active { 
  border-radius: 5px; 
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%); 
} 
 
.sidebar-sticky { 
  position: relative; 
  top: 0; 
  height: calc(100vh - 48px); 
  padding-top: 0.5rem; 
  overflow-x: hidden; 
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */ 
} 
.list-group-item.active { 
  background-color: #007bff; 
  color: #fff; 
} 

.list-group-item:hover { 
  background-color: black; 
  color: white; /* Adjust text color for better visibility on the dark background */ 
} 
.card-img-top{ 
  width: 261px; 
  height: 150px; 
} 

#sidebarMenu button { 
  width: 100%; /* Make the button take full width */ 
  text-align: left; /* Align text to the left */ 
  border-radius: 20px; /* Oval shape with border-radius */ 
  margin-bottom: 8px; /* Add some spacing between buttons */ 
} 
 
#sidebarMenu button:hover { 
  background-color: #343a40; /* Change background color on hover */ 
  color: #ffffff; /* Change text color on hover */ 
} 

/* Add this CSS to your component's styles or in a separate styles file */ 

/* Style for the table */ 
.table-striped tbody tr:nth-of-type(odd) { 
background-color: #f8f9fa; /* Alternate row background color */ 
} 

/* Style for the form */ 
.form-label { 
font-weight: bold; 
} 

.form-control { 
margin-bottom: 1rem; 
} 

/* Style for error messages */ 
.error-message { 
color: red; 
} 

/* Style for the submit button */ 
.btn-primary { 
background-color: #007bff; /* Bootstrap primary color */ 
color: #fff; /* Text color */ 
} 

.btn-primary:hover { 
background-color: #0056b3; /* Darker color on hover */ 
}
